<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Checklist Systems</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/bs5/dt-2.3.1/b-3.2.3/b-colvis-3.2.3/b-html5-3.2.3/r-3.0.4/sb-1.8.2/datatables.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.3.1/b-3.2.3/b-colvis-3.2.3/b-html5-3.2.3/b-print-3.2.3/r-3.0.4/sb-1.8.2/datatables.min.js" crossorigin="anonymous"></script>

    <style>
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f4f6f9;
        }

        .navbar-brand {
            font-weight: 700;
            color: #0d6efd !important;
        }

        .card {
            border: none;
            shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        }
    </style>

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="fa-solid fa-list-check me-2"></i>Checklist Systems</a>
                <div class="d-flex">
                    <a asp-controller="Auth" asp-action="Logout" class="btn btn-outline-danger btn-sm">
                        <i class="fa-solid fa-right-from-bracket"></i> Salir
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid px-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>